/*Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {
  /*Header*/
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }
  #menu {
    display: flex;
  }

  #menu > li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  /*Main content*/
  main {
    /*Push main content down to accommodate larger header*/
    margin-top: 79px;
  }
}

/*Large devices (laptops and desktops, 992px and up)*/
@media screen and (min-width: 992px) {
  /*Header*/
  #menu a:hover {
    border-bottom: 1px solid #3a3a3a;
  }
}
